## Arithemetic Operations in Python
## Integers

In [1]:
print ('Addition:', 1 + 2)

Addition: 3

In [2]:
print ('Subtraction:', 2 -1)

Subtraction: 1

In [3]:
print ('Multiplication:', 2 * 3)

Multiplication: 6

In [4]:
print ('Division:', 6/2)

Division: 3.0

In [5]:
print('Division without any remainder:', 7//2)

Division without any remainder: 3

In [6]:
print('Modulus:', 3%2)

Modulus: 1

In [7]:
print('Division without any remainder:', 7//3)

Division without any remainder: 2

In [8]:
print ('Exponential:', 3**2)

Exponential: 9

# Floating Numbers

In [9]:
print('Floating Number, PI', 3.14)

Floating Number, PI 3.14

In [10]:
print ('Floating Number, Gravity', 9.81)

Floating Number, Gravity 9.81

# Complex Numbers

In [11]:
print ('Complex Number: ', 1 + 1j)

Complex Number:  (1+1j)

In [12]:
print ('Multiplying Complex Numbers: ', (1+1j) * (1-1j))

Multiplying Complex Numbers:  (2+0j)

# Declaring the variables at the top first

In [13]:
a =3 
b =2

# Arithmetic operation and assigning the result to a variable

In [15]:
Total = a + b 
Total

5

In [16]:
diff = a - b 
diff

1

In [17]:
product = a * b 
product

6

In [18]:
division = a/b
division

1.5

In [20]:
remainder = a%b
remainder

1

In [22]:
floor_division = a//b
floor_division

1

In [24]:
exponential = a ** b
exponential

9

In [25]:
print(Total) 
print('a + b = ', Total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

# Declaring values and organizing them together

In [28]:
#Assigning variables
num_one = 3
num_two = 4

In [29]:
# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

In [30]:
# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

In [31]:
# Calculating area of a circle
radius = 10                                 
area_of_circle = 3.14 * radius ** 2
print('Area of a circle:', area_of_circle)

Area of a circle: 314.0

In [32]:
# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 200

In [33]:
# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

735.75 N

In [34]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

True
True
False
True
True
False
True
False
True
True
False
True
True
False

# Boolean comparison

In [35]:
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [36]:
# Another way comparison 
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False -there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\aaabu\AppData\Local\Temp\ipykernel_10148\4207222253.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
C:\Users\aaabu\AppData\Local\Temp\ipykernel_10148\4207222253.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
C:\Users\aaabu\AppData\Local\Temp\ipykernel_10148\4207222253.py:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [37]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statement is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

True
False
False
True
True
False
False
False
True
True
False