# Exercise Day 4

In [1]:
# Question 1

a = 'Thirty'
b = 'Days'
c = 'of'
d = 'Python'
space = " "

nam = a + space + b + space + c + space + d 

print (nam)

Thirty Days of Python

In [2]:
# Question 2
e = 'Coding' 
f = 'For'
g = 'All'

con = e + space + f + space + g
print (con)

Coding For All

In [3]:
# Question 3

company = con

In [4]:
# Question 4

print (company)

Coding For All

In [5]:
# Question 5

print (len(company))

14

In [6]:
# Question 6

company.upper()

'CODING FOR ALL'

In [7]:
# Question 7

company.lower()

'coding for all'

In [8]:
# Question 8
print(company.capitalize())
print(company.title())
print(company.swapcase())

Coding for all
Coding For All
cODING fOR aLL

In [9]:
# Question 9

company[:6]

'Coding'

In [10]:
# Question 10
ni = 'Coding'
print(company.index(ni))
# or Using Comparison operator
print('Coding' in company )

0
True

In [11]:
# Question 11
print(company.replace('Coding','Python'))

Python For All

In [12]:
# Question 12

new_comp = "Python For Everyone"

print(new_comp.replace('Everyone', 'All'))

Python For All

In [13]:
# Question 13

print(company.split())

['Coding', 'For', 'All']

In [14]:
# Question 14

split = "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon"

print(split.split(','))

['Facebook', ' Google', ' Microsoft', ' Apple', ' IBM', ' Oracle', ' Amazon']

In [15]:
# Question 15
company[0]

'C'

In [16]:
# Question 16

last_index = len(company) - 1
last_letter = company[last_index]
print(last_letter)

# or 

print(company [-1])

l
l

In [17]:
# Question 17

print(company[10])

# The 10th index is a space

In [18]:
# Question 18
print(new_comp[0] + new_comp[7] + new_comp[11])

PFE

In [19]:
# Question 19

print(company[0] + company[7] + company[11])

CFA

In [20]:
# Question 20
print (company.rindex('C'))

0

In [21]:
# Question 21
print (company.rindex('F'))

7

In [22]:
# Question 22

print(company.rfind('l'))

13

In [23]:
# Question 23

sen =  'You cannot end a sentence with because because because is a conjunction'

print (sen.find('because'))

31

In [24]:
# Question 24
mn = 'because'
print (sen.rfind(mn))

47

In [25]:
# Question 25

print(sen[31:54])

because because because

In [26]:
# Question 26

sd = 'because'
print (sen.rfind(sd))

47

In [27]:
# Question 27

print(sen[31:54])

because because because

In [28]:
#Question 28
print (company)
print(company.startswith('Coding'))

Coding For All
True

In [29]:
# Question 29

print(company.endswith('Coding'))

False

In [30]:
# Question 30
company1 = '   Coding For All      ' 
print(company1.strip())

Coding For All

In [31]:
# Question 31

w1 = '30DaysOfPython'
w2 = 'thirty_days_of_python'

print(w1.isidentifier())
print(w2.isidentifier())

False
True

In [32]:
# Question 32

libraries = ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']
result = '# '.join(libraries)
print (result)

Django# Flask# Bottle# Pyramid# Falcon

In [33]:
# Question 33

az = 'I am enjoying this challenge.\nI just wonder what is next.'

print (az)

I am enjoying this challenge.
I just wonder what is next.

In [34]:
# Question 34
sz = 'Name\t\tAge\tCountry\tCity'
sy = 'Asabeneh\t250\tFinland\tHelsinki'
print (sz)
print (sy)

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [35]:
# Question 35

radius = 10
area = 3.14 * (radius**2)

print ('The area of a circle with radius %d is %d meters square.'%(radius, area))

The area of a circle with radius 10 is 314 meters square.

In [36]:
# Question 36
a = 8
b = 6
print(f'{a} + {b} = {a +b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

8 + 6 = 14
8 - 6 = 2
8 * 6 = 48
8 / 6 = 1.33
8 % 6 = 2
8 // 6 = 1
8 ** 6 = 262144