# Exercise Day 7

# Level 1

In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [2]:
# Question 1
#Find the length of the set it_companies

len(it_companies)

7

In [3]:
# Question 2
# Add 'Twitter' to it_companies
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [4]:
# Question 3
# Insert multiple IT companies at once to the set it_companies

it_companies.update(['Data camp', 'Udacity'])
it_companies

{'Amazon',
 'Apple',
 'Data camp',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter',
 'Udacity'}

In [5]:
# Question 4
# Remove one of the companies from the set it_companies

it_companies.remove('Udacity')
it_companies

{'Amazon',
 'Apple',
 'Data camp',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [6]:
# Question 5
# What is the difference between remove and discard

#If the item to be removed is not found in the set, remove() method will raise errors, so it is good to check if the item exist in the given set. However, discard() method doesn't raise any errors.

## Level 2

In [7]:
# Question 1
# Join A and B

C = A.union(B)
print (C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [8]:
# Question 2
# Find A intersection B

A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [9]:
# Question 3
# is A a subset of B

A.issubset(B)

True

In [10]:
# Question 4
# Are A and B disjoint sets

A.isdisjoint(B)

False

In [11]:
# Question 5
# Join A with B and B with A

A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [12]:
B.union(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [13]:
# Question 6
# What is the symmetric difference between A and B

A.symmetric_difference(B)

{27, 28}

In [14]:
# Question 7
# Delete the sets completely

del A
del B

## Level 3

In [15]:
# Question 1
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?

# converting ages to set
age_set = set(age)
print(age_set)

# Length of Ages list
print(len(age))

# Length of age set
print (len (age_set))

print ('The list is greater than the set')

{19, 22, 24, 25, 26}
8
5
The list is greater than the set

In [16]:
# Question 2
# Explain the difference between the following data types: string, list, tuple and set

#Strings are the character data type in python 
# A list is a collection of ordered data and are mutable i.e you can add elements to a list. They are enclosed in with a square Bracket
# A tuple is an ordered collection of data and are immutable. Tuple are enclosed within Brackets
# A set is an unordered collection of data, does not accept duplicate elements but are mutable. They are enclosed within a curly Brackets

In [17]:
# Question 3
# I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sent = "I am a teacher and I love to inspire and teach people"

ans = set(sent.split())
print(ans)

print ('The number of unique words in the sentence is ', len(ans))

{'to', 'am', 'a', 'teach', 'I', 'and', 'inspire', 'people', 'love', 'teacher'}
The number of unique words in the sentence is  10