# Execise Day 6

## Level 1

In [1]:
# Question 1
# Creating an empty Tuple

Empty_tuple = ()
print(Empty_tuple)

()

In [2]:
# Question 2
#Create a tuple containing names of your sisters and your brothers

brothers =("Hamza", 'Yahaya', 'Khaleed')
sisters = ('Bilkisu', 'Ameena', 'Maryam')

print (brothers)
print (sisters)

('Hamza', 'Yahaya', 'Khaleed')
('Bilkisu', 'Ameena', 'Maryam')

In [3]:
# Question 3
# Join brothers and sisters tuples and assign it to siblings

siblings = brothers + sisters

print (siblings)

('Hamza', 'Yahaya', 'Khaleed', 'Bilkisu', 'Ameena', 'Maryam')

In [4]:
# Question 4
# How many siblings do you have?

print (len(siblings))

6

In [5]:
# Questiuon 5
# Modify the siblings tuple and add the name of your father and mother and assign it to family_members

# Tuple is unmuttable therefore to modify tuple we need to convert it to a list

family_members = list(siblings) 

print(family_members)

['Hamza', 'Yahaya', 'Khaleed', 'Bilkisu', 'Ameena', 'Maryam']

In [6]:
family_members.append('Fatheer')

In [7]:
family_members.append('Mother')

In [8]:
print(family_members)

['Hamza', 'Yahaya', 'Khaleed', 'Bilkisu', 'Ameena', 'Maryam', 'Fatheer', 'Mother']

## Exercises: Level 2

In [9]:
# Question 1 
# Unpack siblings and parents from family_members

siblings = family_members [0:6]
parents = family_members[6:]

print (siblings)
print(parents)

['Hamza', 'Yahaya', 'Khaleed', 'Bilkisu', 'Ameena', 'Maryam']
['Fatheer', 'Mother']

In [10]:
# Question 2
# Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits = ('Mango', 'Apple', 'Orange')
vegetables = ('Tomatoe', 'Letus', 'Green pepper', 'Onions')
animal_products = ('chicken', 'Goat meat', 'Cow meat')

food_stuff_tp = fruits + vegetables + animal_products
print (food_stuff_tp)

('Mango', 'Apple', 'Orange', 'Tomatoe', 'Letus', 'Green pepper', 'Onions', 'chicken', 'Goat meat', 'Cow meat')

In [11]:
# Question 3
# Change the about food_stuff_tp tuple to a food_stuff_lt list

food_stuff_lt = list (food_stuff_tp)
print (food_stuff_lt)

['Mango', 'Apple', 'Orange', 'Tomatoe', 'Letus', 'Green pepper', 'Onions', 'chicken', 'Goat meat', 'Cow meat']

In [12]:
# Question 4
# Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list
food_stuff_lt [4:6]

['Letus', 'Green pepper']

In [13]:
# Question 5
# Slice out the first three items and the last three items from food_staff_lt list
food_stuff_lt[:3]

['Mango', 'Apple', 'Orange']

In [14]:
# Question 6
# Delete the food_staff_tp tuple completely
del food_stuff_tp

In [15]:
# Question 7
# Check if an item exists in tuple:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

# Check if 'Estonia' is a nordic country
print ('Estonia' in nordic_countries)

# Check if 'Iceland' is a nordic country
print ('Iceland' in nordic_countries)

False
True